button {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid;
    padding: 8px;
    margin-left: 8px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
}

button.success {
    background-color: #5C9210;
    border-color: rgb(60, 98, 7);
}

button.success:hover{
    background-color: rgb(119, 189, 20);
}

button.success:disabled{
    background-color: #7E7365;
    border-color: #ccc;
    cursor: not-allowed;
}

button.success:disabled:hover {
    background-color: #AC9980;
}

button.danger {
    background-color: #c63636;
    border-color: #a72b2b;
}

button.danger:hover{
    background-color: #e11d1d;
}