.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.label {
    margin: 0.2rem -0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    color: white;
    text-align: left;
    display: block;
}

.input-element {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #703b09;
    background: #703b09ac;
    color: white;
    font: inherit;
    width: 95%;
}

.input-element.invalid {
    border-color: red;
    background: #700909ac;
}

.input-element:focus{
    outline: none;
    background: #ac6c30e7;
}

p{
    margin: 0 0;
    padding: 5px 0 0 0;
    color: white;
    text-align: left;
}