div.login-form {
	background: #cf8f2e;
	padding-bottom: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.login-form p.error-msg {
	align-self: center;
	color: #fff;
	background: #c63636;
	padding: 8px;
	border-radius: 8px;
}

div.login-form form {
	width: 90%;
	margin: 8px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.login-form form:nth-child(2) {
	margin-top: 0;
}

div.login-form button {
	align-self: center;
}

@media (min-width: 500px) {
	div.login-form form {
		width: 25%;
	}
}
